---
// import ProjectPreview from '../components/ProjectPreview.astro';
import ProjectPreview from '../components/projectPreviewSolid';
import Layout from '../layouts/Layout.astro';

const pathname = Astro.url.pathname;

const projects = (await Astro.glob('./projects/**/*.mdx'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() -
			new Date(a.frontmatter.publishDate).valueOf()
	);
---

<Layout title="M4rteaga Portfolio Projects">
	<main>
		<section aria-label="posts section" class="post-section">
			<ul>
				{
					projects.map((project) => (
						<li>
							<ProjectPreview
								client:load
								title={project.frontmatter.title}
								date={project.frontmatter.date}
								githubLink={project.frontmatter.githubLink}
								description={project.frontmatter.description}
								wip={project.frontmatter.wip}
								rework={project.frontmatter.rework}
								webPageLink={project.frontmatter.webPageLink}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	li {
		list-style: none;
		position: relative;
	}

	ul {
		padding: 0;
		margin-top: 0;
	}

	:global(p) {
		color: var(--body-color);
		font-weight: 300;
		line-height: 28px;
	}

	main {
		margin-top: 48px;
		display: inline-block;
		width: 100%;
	}

	.post-section {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	@media only screen and (max-width: 530px) {
		main {
			margin-top: 0;
		}
	}
</style>
